.sub-card {
    width: 300px;
    height: 510px;
    /* border: 1px solid gray; */
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
    background-color: rgb(255, 196, 255);
}

.sub-info {
    padding: .5rem;
}

.sub-info h1 {
    margin: .5rem 0;
}

.sub-info img {
    width: 286px;
    height: 200px;
    border-radius: 1rem;
}

button {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 1rem 1rem;
    border: none;
    background-color: lightseagreen;
    cursor: pointer;
}

button:hover {
    background-color: white;
}